.menu {
    justify-self: right;
    position: relative;

    display: flex;
    flex-direction: column;

    height: 40px;
    width: 257px;

    margin-top: 25px;
    padding-left: 20px;

    border-radius: 10px;

    background-color: rgb(0 0 0 / 0.2);
    backdrop-filter: blur(10px);

    z-index: 1;
}

.menu-is-open {
    height: 200px;
}

.current-option {
    position: relative;
    display: flex;
    align-items: center;

    height: 40px;
}

.arrow,
.arrow::after {
    position: absolute;

    width: 12px;
    height: 12px;
}

.arrow {
    right: 12px;
    top: 16px;

    overflow: hidden;
}

.arrow::after {
    content: '';

    top: -9px;

    rotate: 45deg;

    background-color: var(--customWhite);
}

.current-option p {
    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}
