.panel {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    width: 260px;
}

.address,
.call a {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.address {
    margin-bottom: 4px;
}

.description,
.call p {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.description {
    margin-bottom: 26px;
}
