.panel {
    justify-self: end;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    height: 700px;
    width: 255px;
}

.panel.shrink {
    flex-direction: row;
    align-items: center;

    height: 80px;
}

.social {
    width: 60px;
    height: 154px;

    top: -32px;
}

.call a {
    text-align: end;
}

.shrink .social {
    display: none;
}

.shrink .address {
    display: none;
}

.shrink .cart {
    right: -25px;
}
