.panel {
    justify-self: end;

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    width: 255px;
}

.panel.show {
    flex-direction: column;
    align-items: flex-end;

    height: 700px;
}

.social {
    width: 60px;
    height: 154px;

    top: -32px;
}

.call a {
    text-align: end;
}

.show .social {
    display: flex;
}

.show .address {
    display: flex;
}

.show .cart {
    right: 0px;
}
