.cart {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 420px;
    height: 100%;

    top: 0px;
    right: 0px;

    padding: 20px 30px;

    background-color: var(--customBlack);

    z-index: 4;
}

.cancel {
    position: absolute;

    width: 30px;
    height: 30px;

    top: 30px;
    right: 30px;
}

.header {
    padding-bottom: 20px;

    border-bottom: 1px solid #555;
}

.checkout {
    width: 100%;
}

.goods {
    position: absolute;

    width: 360px;
    top: 100px;
}

.item {
    color: aliceblue;
}
