.item {
    position: relative;

    margin-bottom: 5px;

    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.checkbox {
    cursor: pointer;
    user-select: none;
}

.input {
    position: absolute;

    width: 0;
    height: 0;

    opacity: 0;
}

.checkmark {
    position: absolute;

    height: 18px;
    width: 18px;

    border: 1px solid var(--customBlack);
    background-color: var(--customWhite);
}

.item:hover .checkmark {
    background-color: var(--customPurple);
}

.input:checked ~ .checkmark {
    background-color: var(--customGreen);
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;

    top: -1px;
    left: 4px;
    width: 5px;
    height: 12px;

    border: solid var(--customBlack);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.input:checked ~ .checkmark:after {
    display: block;
}
