.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 200px;
    height: 50px;
}

.slider {
    position: relative;

    width: 150px;
    top: 13px;
}

.slider__track,
.slider__range {
    position: absolute;

    height: 2px;
    border-radius: 3px;
}

.slider__track {
    width: 100%;

    background-color: var(--customWhite);
    z-index: 1;
}

.slider__range {
    background-color: var(--customGreen);
    z-index: 2;
}

.slider__value {
    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    position: absolute;

    width: 150px;
    height: 0;
    top: 12px;

    pointer-events: none;
    outline: none;
}

.thumb--left {
    z-index: 3;
}

.thumb--right {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    position: relative;

    width: 10px;
    height: 10px;
    margin-top: 4px;

    background-color: var(--customGreen);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;

    cursor: pointer;
    pointer-events: all;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    position: relative;

    width: 10px;
    height: 10px;
    margin-top: 4px;

    background-color: var(--customGreen);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;

    cursor: pointer;
    pointer-events: all;
}
