.main {
    position: relative;
    display: grid;
    justify-items: center;

    grid-template-columns: repeat(7, 1fr);

    grid-template-areas:
        '. . tabs tabs tabs . .'
        '. . goods goods goods . .';

    min-height: calc(100vh - 300px);

    padding-top: 180px;
    padding-bottom: 50px;

    background-color: #0f2222;
}

.goods {
    grid-area: goods;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.item {
    cursor: pointer;
}

.header {
    text-align: center;
}

.search_form {
    position: relative;
    width: 280px;
}

.search_input {
    width: 100%;

    padding: 5px 5px 5px 25px;

    border: none;
    outline: none;
    border-bottom: 0.5px solid var(--customGrey);
    background-color: transparent;

    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.28px;

    color: #7c7c7c;
}

.search_input::placeholder {
    text-align: center;

    color: #7c7c7c;
}

.search_input::-webkit-search-cancel-button {
    display: none;
}

.search_reset-btn {
    position: absolute;

    width: 18px;
    height: 18px;
    right: -16px;
    top: 9px;
}
