.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    width: 100vw;
    min-height: calc(100vh - 337px);

    padding-top: 200px;
}

.tabs {
}

.goods {
}

.exit-btn {
    position: absolute;

    top: 150px;
    right: 50px;
}
