.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;

    margin-left: 11vw;
    margin-right: 11vw;
    padding-top: 190px;
}

.bouquet {
    grid-column: 2/7;
    grid-row: 1/2;

    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.bouquet__img {
    width: 350px;
    height: 450px;

    object-fit: cover;
}

.bouquet__descr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
}

.title {
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.price-section {
    display: flex;
}

.price {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.oldPrice {
    margin-left: 20px;

    font-family: Oswald;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-decoration-line: line-through;
    text-transform: uppercase;

    color: var(--customGrey);
}

.descr {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.add-cart {
    display: flex;
    gap: 30px;
}

.quantity-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 160px;
    height: 51px;

    border: 0.5px solid var(--customGrey);
}

.quantity-btns button {
    margin-top: 6px;

    transform: scale(1.2);
}

.quantity-btns p {
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--customGrey);
}
