.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;

    padding-left: 11vw;
    padding-right: 11vw;

    padding-top: 190px;

    overflow: hidden;
}

.bouquet {
    grid-column: 2/7;
    grid-row: 1/2;

    display: flex;
    justify-content: space-evenly;

    width: 100%;

    margin-bottom: 80px;
}

.bouquet__img {
    width: 350px;
    height: 450px;

    object-fit: cover;
}

.bouquet__descr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
}

.title {
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.price-section {
    display: flex;
}

.price {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.oldPrice {
    margin-left: 20px;

    font-family: Oswald;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-decoration-line: line-through;
    text-transform: uppercase;

    color: var(--customGrey);
}

.descr {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.add-cart {
    display: flex;
    gap: 30px;
}

.quantity-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 160px;
    height: 51px;

    border: 0.5px solid var(--customGrey);
}

.quantity-btns button {
    margin-top: 6px;

    transform: scale(1.2);
}

.quantity-btns p {
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--customGrey);
}

.extra__header {
    grid-column: 3/6;
    grid-row: 2/3;
    justify-self: center;

    margin-bottom: 45px;

    font-family: Oswald;
    font-size: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: var(--customPink);
}

.extra {
    grid-column: 2/7;
    grid-row: 3/4;

    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
}

.extra__card {
    min-width: 245px;
    max-width: 245px;
    height: 270px;

    padding: 30px;

    text-align: center;
}

.extra h5 {
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.extra p {
    margin-top: 15px;

    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.84px;

    color: var(--customWhite);
}

.ship {
    grid-column: 2/7;
    grid-row: 5/6;

    display: flex;
    flex-direction: column;
    gap: 60px;

    margin-bottom: 100px;
}

.ship__header {
    align-self: center;

    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.ship h4 {
    margin-bottom: 20px;

    font-family: Oswald;
    font-size: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: var(--customPink);
}

.ship li,
.ship p {
    margin-bottom: 10px;

    font-family: Oswald;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.ship span {
    color: var(--customGreen);
}

.popular {
    grid-column: 1/8;
    grid-row: 6/7;

    display: flex;
    flex-direction: column;
    gap: 25px;

    margin-bottom: 200px;
}

.popular h3 {
    align-self: center;

    font-family: Oswald;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.popular__items {
    display: flex;
    justify-content: space-evenly;
}

.decor-flower {
    position: absolute;

    width: 681.643px;
    height: 1022.465px;

    top: 1050px;
    right: -300px;

    transform: rotate(-18.184deg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background-image: url('../images/bouquetBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: brightness(62%);
    -webkit-filter: brightness(62%);
    -moz-filter: brightness(62%);

    z-index: -2;
}

.decor-ellipse-green-top-left {
    position: absolute;

    width: 217.025px;
    height: 173.928px;

    top: 118px;
    left: -2vw;

    border-radius: 504.417px;
    transform: rotate(-71.859deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-top-middle {
    position: absolute;

    width: 589.849px;
    height: 360.441px;

    top: 248px;
    left: 10vw;

    border-radius: 434.992px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-top-right {
    position: absolute;

    width: 592.696px;
    height: 380.609px;

    top: 15px;
    right: -15vw;

    border-radius: 392.696px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-middle {
    position: absolute;

    width: 860.251px;
    height: 355.641px;

    top: 960px;
    left: 13vw;

    border-radius: 504.417px;
    transform: rotate(21.185deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-middle {
    position: absolute;

    width: 911.662px;
    height: 152.112px;

    top: 876px;
    right: -2vw;

    border-radius: 747.738px;
    transform: rotate(21.095deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-bottom-left {
    position: absolute;

    width: 199.587px;
    height: 311.054px;

    bottom: -124px;
    left: -12vw;

    transform: rotate(21.097deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-bottom-middle {
    position: absolute;

    width: 779.44px;
    height: 311.054px;

    bottom: -196px;
    left: 28vw;

    border-radius: 879.44px;
    transform: rotate(21.097deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-bottom-right {
    position: absolute;

    width: 454.93px;
    height: 464.216px;

    bottom: -206px;
    right: -9vw;

    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}
