.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    grid-template-areas:
        '. . head head head head head head . info info .'
        '. . . . . . . . . sort . .'
        '. . filter filter goods goods goods goods goods goods . .';
}

.head {
    grid-area: head;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 534px;
}

.header {
    position: relative;
}

.header h2 {
    position: relative;

    top: -15px;
    left: 273px;
}

.head p {
    align-self: center;

    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.info-panel {
    grid-area: info;
}

.sort-menu {
    grid-area: sort;

    /* TEST */
    color: white;
    text-align: center;
    /* ! */
}

.left-filter {
    grid-area: filter;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 560px;
}

.left-filter ul {
    list-style-type: none;
}

.left-filter h3 {
    margin-bottom: 8px;

    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.left-filter .slider h3 {
    margin-bottom: 0px;
}

.slider {
    position: relative;
}

.goods {
    grid-area: goods;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.bouquet {
    margin-bottom: 30px;
}
