.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 90px auto;

    grid-template-areas:
        'head head head head head . .'
        '. . . . . sort sort'
        'filter filter goods goods goods goods goods'
        '. . . . . . scroll-btn';

    margin-left: 11vw;
    margin-right: 11vw;
    padding-top: 80px;
}

.head {
    grid-area: head;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 561px;

    margin-top: 86px;
    margin-bottom: 30px;
    padding: 20px 15px 30px 15px;
}

.header {
    position: relative;
}

.header h2 {
    position: relative;

    top: -15px;
    left: 273px;
}

.head p,
.excuse {
    align-self: center;

    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.excuse {
    font-size: 16px;
}

.sort-menu {
    grid-area: sort;
}

.left-filter {
    grid-area: filter;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 252px;
    height: 700px;

    padding: 20px 16px 30px 16px;
}

.left-filter ul {
    list-style-type: none;
    margin-left: 18px;
}

.left-filter h3 {
    margin-bottom: 8px;

    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.left-filter .slider h3 {
    margin-bottom: 0px;
}

.slider {
    position: relative;
    width: 100%;
}

.goods {
    grid-area: goods;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    margin-bottom: 200px;
}

.bouquet {
    margin-bottom: 30px;
}

.scroll-btn {
    grid-area: top-btn;
    justify-self: end;

    position: fixed;

    width: 100px;
    height: 100px;

    bottom: 450px;

    background: url('../svg/up_btn_arrow.svg');
}

.decor-flower-left {
    position: absolute;

    width: 1373px;
    height: 811px;

    top: -35px;
    left: -31vw;

    background-image: url('../images/cat_flower.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-flower-right {
    position: absolute;

    width: 1173px;
    height: 1012px;

    top: -131px;
    right: -27vw;

    rotate: -79.244deg;

    background-image: url('../images/cat_flower.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-ellipse-purple-top-left {
    position: absolute;

    width: 704.417px;
    height: 460.441px;

    top: 148px;
    left: -7vw;

    border-radius: 504.417px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-top-middle {
    position: absolute;

    width: 534.992px;
    height: 356.066px;

    top: 615px;
    right: -3vw;

    border-radius: 434.992px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-top-right {
    position: absolute;

    width: 592.696px;
    height: 380.609px;

    top: -186px;
    right: -15vw;

    border-radius: 392.696px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-middle {
    position: absolute;

    width: 604.417px;
    height: 460.441px;

    top: 733px;
    left: -4vw;

    border-radius: 504.417px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-middle {
    position: absolute;

    width: 847.738px;
    height: 173.928px;

    top: 1376px;
    left: -12vw;

    border-radius: 747.738px;
    transform: rotate(-71.859deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-bottom-left {
    position: absolute;

    width: 199.587px;
    height: 311.054px;

    bottom: -124px;
    left: -12vw;

    transform: rotate(21.097deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-bottom-middle {
    position: absolute;

    width: 779.44px;
    height: 311.054px;

    bottom: -196px;
    left: 28vw;

    border-radius: 879.44px;
    transform: rotate(21.097deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-bottom-right {
    position: absolute;

    width: 454.93px;
    height: 464.216px;

    bottom: -206px;
    right: -9vw;

    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}
