.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 250px 1500px;

    margin-left: 11vw;
    margin-right: 11vw;
    padding-top: 180px;
}

.main.main-delivery {
    grid-template-rows: 250px 2000px;
}

.header {
    grid-column: 1/5;
    grid-row: 1;
    position: relative;
}

.header h2 {
    position: relative;

    top: -15px;
    left: 273px;
}

.form {
    grid-column: 1/4;
    grid-row: 2/3;

    position: relative;

    height: 200px;
}

.form h4 {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.84px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.container {
    gap: 10px;
}

.label {
    align-self: flex-start;
    text-transform: none;
}

.contacts,
.delivery,
.delivery__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery {
    margin-top: 60px;
}

.delivery__input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery__input label {
    padding-left: 20px;

    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.input-gray label {
    color: #353535;
}

.delivery-house {
    display: flex;
    gap: 30px;
}

.delivery small {
    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #555;
}

.time-input {
    width: 191.25px;
}

.promo {
    display: flex;
    align-items: flex-end;

    width: 70%;
    margin-top: 60px;
}

.promo-container {
    width: 50%;
}

.promo button {
    height: 60px;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

.total p {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.submit-btn {
    margin-top: 30px;
}

.policy {
    display: block;

    width: 330px;

    margin-top: 10px;

    text-align: justify;

    font-family: Roboto Condensed;
    font-size: 10px;
    letter-spacing: 0.2px;

    color: var(--customWhite);
}

.policy a {
    font-family: Roboto Condensed;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    text-decoration-line: underline;

    color: var(--customPink);
}
