.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 250px 1500px;

    padding-left: 11vw;
    padding-right: 11vw;
    padding-top: 180px;

    overflow: hidden;
}

.main.main-delivery {
    grid-template-rows: 250px 2000px;
}

.header {
    grid-column: 1/5;
    grid-row: 1;
    position: relative;
}

.header h2 {
    position: relative;

    top: -15px;
    left: 273px;
}

.form {
    grid-column: 1/4;
    grid-row: 2/3;

    position: relative;

    height: 200px;
}

.form h4 {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.84px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.container {
    gap: 10px;
}

.label {
    align-self: flex-start;
    text-transform: none;
}

.contacts,
.delivery,
.delivery__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery {
    margin-top: 60px;
}

.delivery__input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery__input label {
    padding-left: 20px;

    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.input-gray label {
    color: #353535;
}

.delivery-house {
    display: flex;
    gap: 30px;
}

.delivery small {
    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: var(--customGrey);
}

.time-input {
    width: 191.25px;
}

.promo {
    display: flex;
    align-items: flex-end;

    width: 70%;
    margin-top: 60px;
}

.promo-container {
    width: 50%;
}

.promo button {
    height: 60px;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

.total p {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.submit-btn {
    margin-top: 30px;
}

.policy {
    display: block;

    width: 330px;

    margin-top: 10px;

    text-align: justify;

    font-family: Roboto Condensed;
    font-size: 10px;
    letter-spacing: 0.2px;

    color: var(--customWhite);
}

.policy a {
    font-family: Roboto Condensed;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    text-decoration-line: underline;

    color: var(--customPink);
}

.decor-flower-left {
    position: absolute;

    width: 637.747px;
    height: 956.621px;

    top: -118px;
    left: -400px;

    transform: rotate(20.773deg);

    background-image: url('../images/checkout.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-flower-right {
    position: absolute;

    width: 790.312px;
    height: 1185.469px;

    top: -198px;
    right: -290px;

    transform: rotate(-52grad);

    background-image: url('../images/checkout.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-flower-back-right {
    position: absolute;

    width: 779.172px;
    height: 1168.757px;

    top: -245px;
    right: -456px;

    transform: rotate(-52grad);

    background-image: url('../images/checkout.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -3;
}

.decor-ellipse-green-top-left {
    position: absolute;

    width: 217.025px;
    height: 173.928px;

    top: 118px;
    left: -2vw;

    transform: rotate(-71.859deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-top-right {
    position: absolute;

    width: 504.417px;
    height: 625.462px;

    top: -105px;
    right: -5vw;

    border-radius: 625.462px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-middle {
    position: absolute;

    width: 354.93px;
    height: 364.216px;

    top: 1161px;
    right: 5vw;

    border-radius: 504.417px;
    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-middle {
    position: absolute;

    width: 402.64px;
    height: 211.054px;

    top: 876px;
    right: -7vw;

    border-radius: 402.64px;
    transform: rotate(139.226deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-bottom-left {
    position: absolute;

    width: 199.587px;
    height: 311.054px;

    bottom: -124px;
    left: -12vw;

    transform: rotate(21.097deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-green-bottom-middle {
    position: absolute;

    width: 779.44px;
    height: 210.054px;

    bottom: -196px;
    left: 40vw;

    border-radius: 879.44px;
    transform: rotate(21.097deg);

    background: var(--customGreen);
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-purple-bottom-right {
    position: absolute;

    width: 454.93px;
    height: 464.216px;

    bottom: -206px;
    right: -9vw;

    transform: rotate(32.828deg);

    background: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.logo {
    position: absolute;

    right: 37vw;
    top: 230px;
}

.pay-sign {
    position: absolute;

    right: 48vw;
    bottom: 230px;
}
