.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;

    min-height: 100vh;

    padding-top: 190px;
    padding-left: 11vw;
    padding-right: 11vw;

    overflow: hidden;
}

.header {
    grid-row: 1/2;

    position: relative;

    font-family: Cormorant;
    font-size: 600px;
    font-weight: 400;
    letter-spacing: 12px;

    background: linear-gradient(
        180deg,
        #163d8f 0%,
        #163d8f 0%,
        #4f6cab 54.69%,
        #b6cdff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header:first-of-type {
    grid-column: 2/3;

    top: -180px;
    left: 53px;

    z-index: -2;
}

.header:nth-of-type(2) {
    grid-column: 3/4;
}

.header:last-of-type {
    grid-column: 4/5;

    top: -248px;
    right: 121px;
}

.text {
    grid-column: 5/7;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text p {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.text a {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: var(--customGreen);
}

.logo {
    position: absolute;

    right: 20vw;
    top: 293px;
}

.decor-flower-left {
    position: absolute;

    width: 1844px;
    height: 1226px;

    top: 211px;
    left: -235px;

    background-image: url('../images/404.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-flower-right {
    position: absolute;

    width: 1844px;
    height: 1226px;

    top: -175px;
    right: -1067px;

    transform: rotate(261deg);

    background-image: url('../images/404.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-ellipse-top {
    position: absolute;

    width: 266.644px;
    height: 453.167px;

    top: -49px;
    right: -2vw;

    border-radius: 353.167px;
    transform: rotate(21.097deg);

    background-color: #163d8f;
    filter: blur(125px);

    z-index: -4;
}

.decor-ellipse-bottom-left {
    position: absolute;

    width: 283.416px;
    height: 600.642px;

    bottom: -149px;
    left: -2px;

    border-radius: 600.642px;
    transform: rotate(21.097deg);

    background-color: #163d8f;
    filter: blur(125px);

    z-index: -1;
}

.decor-ellipse-bottom-right {
    position: absolute;

    width: 283.416px;
    height: 600.642px;

    bottom: -149px;
    right: 0vw;

    border-radius: 600.642px;
    transform: rotate(21.097deg);

    background-color: #163d8f;
    filter: blur(125px);

    z-index: -4;
}
