.section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.title-section {
    height: 1244px;
}

.decor-flower {
    position: absolute;

    width: 100vw;
    height: 1244px;

    top: 0px;
    left: 0px;

    background-image: url('../images/titleImage.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-flower-back {
    position: absolute;

    width: 100vw;
    height: 1244px;

    top: 0px;
    left: 0px;

    background-color: #061618;

    z-index: -5;
}

.decor-flower-shadow {
    position: absolute;

    height: 406px;
    width: 100%;

    top: 838px;

    background-image: linear-gradient(
        180deg,
        rgba(4, 10, 10, 0) 0%,
        #040a0a 100%
    );

    z-index: -1;
}

.title__decor-oval-left {
    position: absolute;

    width: 358.902px;
    height: 293.047px;
    left: -33.48px;
    top: 365.24px;

    transform: rotate(41.599deg);
    border-radius: 358.902px;
    background-color: #249479;
    filter: blur(125px);

    z-index: -4;
}

.title__decor-oval-right {
    position: absolute;

    width: 472.65px;
    height: 211.054px;
    right: 14.89px;
    top: 236.18px;

    transform: rotate(-43.21deg);
    border-radius: 472.65px;
    background-color: #7d2253;
    filter: blur(125px);

    z-index: -4;
}

.lower-logo {
    position: absolute;

    width: 305px;
    right: 14%;
    top: 1036px;

    transform: rotate(-10.255deg);

    z-index: -1;
}

.main-header {
    position: relative;
    top: 35px;

    text-align: center;
    font-size: 200px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 40px;
    text-transform: uppercase;

    color: var(--customWhite);
}

h1.main-header {
    top: -54px;
}

h2.main-header {
    z-index: -3;
}

.slogan {
    position: relative;
    top: -52px;

    text-align: center;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;

    color: var(--customWhite);
}

.title-catalogue-btn {
    position: absolute;

    left: calc(50% - 110px);
    top: 588px;
}

.title__soc-panel {
    width: 60px;
    height: 154px;
    top: 219px;
    right: 4%;
}

.catalogue-section {
    height: 889px;
}

.section-header {
    position: relative;

    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.catalogue-header {
    left: 165px;
    top: -33px;
}

.catalogue-intro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    width: 566px;
    height: 134px;

    top: -26px;
    left: 18vw;

    text-align: justify;
}

.catalogue-intro p {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.8px;

    color: var(--customWhite);
}

.catalogue__flowers-bouquet {
    position: relative;

    width: 540px;
    height: 310px;

    top: 48px;
    left: 12vw;
    padding: 30px 30px 30px 50px;
}

.catalogue__ready-bouquet {
    position: relative;

    width: 445px;
    height: 281px;

    top: -465px;
    left: 62vw;
    padding: 30px 30px 30px 50px;
}

.catalogue__extra-bouquet {
    position: relative;

    width: 540px;
    height: 310px;

    top: -436px;
    left: 53vw;
    padding: 30px 30px 30px 50px;
}

.catalogue-list {
    position: relative;

    left: 7px;

    font-family: 'Oswald';
    font-size: 18px;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.catalogue-nav {
    position: absolute;

    right: 30px;
    bottom: 30px;

    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: var(--customPink);
}

.catalogue__decor-oval-left {
    position: absolute;

    width: 847px;
    height: 280px;
    left: -5vw;
    top: 1729px;

    transform: rotate(32.828deg);

    border-radius: 707.545px;
    background-color: #7d2253;
    filter: blur(150px);

    z-index: -4;
}

.catalogue__decor-oval-right {
    position: absolute;

    width: 1055px;
    height: 250px;
    right: -1vw;
    top: 1800px;

    transform: rotate(32.828deg);

    border-radius: 879.44px;
    background-color: #43ffd2;
    filter: blur(150px);

    z-index: -4;
}

.decor-sign {
    position: absolute;

    font-family: 'Oswald';
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;

    color: #0a1717;

    z-index: -5;
}

.catalogue__sign-bouquet {
    top: 1332px;
    right: 6vw;
}

.catalogue__sign-flowers {
    top: 1541px;
    left: -1vw;
}

.catalogue__sign-extra {
    top: 1824px;
    right: -33vw;
}

.popular-section {
    height: 1150px;
}

.popular-section .section-header:first-of-type {
    left: 365px;
}

.popular-section .section-header:nth-of-type(2) {
    top: -21px;
    text-align: center;
}

.popular-intro {
    position: relative;
    display: block;

    top: -10px;
    text-align: center;

    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;

    color: var(--customWhite);
}

.popular-bouquets {
    display: flex;
    flex-wrap: wrap;

    width: 1140px;
    margin: 86px auto 0px auto;
}

.popular-catalogue-link {
    position: relative;

    top: 60px;
    margin-left: 30px;

    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: var(--customPink);
}

.popular-catalogue-link:after {
    position: relative;
    content: url('../svg/Arrow\ 7.svg');

    top: -3px;
    left: 3px;
}

.popular__decor-back {
    position: absolute;

    width: 1300px;
    height: 748px;

    right: 0px;
    top: 2273px;

    background-image: url('../images/popBouquet.png') no-repeat;
    z-index: -1;
}

.popular__decor-oval-left {
    position: absolute;

    width: 900px;
    height: 500px;
    left: -5vw;
    top: 2754px;

    transform: rotate(32.828deg);

    background-color: rgba(67, 255, 210, 0.47);
    filter: blur(125px);

    z-index: -4;
}

.popular__decor-oval-right {
    position: absolute;

    width: 685px;
    height: 476px;
    left: 34vw;
    top: 2946px;

    transform: rotate(32.828deg);

    background-color: #7d2253;
    filter: blur(125px);

    z-index: -4;
}

.order-section {
    height: 1000px;
}

.order-section .section-header {
    left: 315px;
}

.order-section .section-header:nth-of-type(2) {
    top: -25px;

    z-index: -3;
}

.order-steps {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 1200px;
    height: 500px;

    left: 36%;
}

.order-decor-rect {
    position: absolute;

    top: -40px;

    width: 65px;
    height: 10px;

    background-color: var(--customPink);
}

.order-decor-rect-vertical {
    position: relative;

    width: 1px;
    height: 427px;
    top: 40px;

    background-color: var(--customPink);
}

.order-lower-logo {
    position: absolute;

    width: 305px;
    right: 13%;
    top: 4052px;

    transform: rotate(-10.255deg);

    z-index: -1;
}

.order-back-flower {
    position: absolute;

    width: 562px;
    height: 845px;

    top: 3448px;
    left: 0px;

    background-image: url('../images/homeOrderBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.special-section {
    justify-items: end;
    grid-template-rows: 223px 292px 250px;
    row-gap: 30px;
    grid-template-areas:
        '. . special-header special-header special-header special-header . . special-img-gift special-img-gift . .'
        '. . special-descr special-descr special-descr special-imgs special-imgs special-imgs special-imgs special-imgs . .'
        '. . special-btn . . . . . . . . .';
}

.special-header {
    grid-area: special-header;
    justify-self: left;
}

.special-header h2:nth-child(2) {
    position: relative;

    top: -10px;
    left: 376px;
}

.special-header h2:nth-child(2)::before {
    display: block;
    position: relative;
    content: '';

    width: 255px;
    height: 1px;

    left: -281px;
    top: 63px;

    background-color: var(--customPink);
}

.special-descr {
    position: relative;
    grid-area: special-descr;
    justify-self: center;

    width: 255px;
    left: -53px;

    font-family: 'Oswald';
    text-align: justify;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.special-descr ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 168px;
    margin-top: 40px;

    text-align: left;
}

.special-btn {
    grid-area: special-btn;
    position: relative;

    left: 81px;
    top: 10px;
}

.special-img-gift {
    grid-area: special-img-gift;

    width: 255px;
    height: 223px;

    border-radius: 20px;
}

.special-imgs {
    grid-area: special-imgs;
    display: flex;
    gap: 30px;
}

.special-imgs img {
    width: 255px;
    height: 292px;

    border-radius: 20px;
}

.special-imgs:nth-child(2) {
    width: 160px;
    height: 292px;
}

.feedback-section {
    height: 666px;
    background-color: #0f2222;
}

.feedback-header {
    position: absolute;

    top: 5229px;
    left: 14%;

    z-index: 1;
}

.feedback-header h2:nth-child(2) {
    position: relative;

    top: -10px;
    left: 96px;
}

.feedback-decor-oval-red {
    position: absolute;

    width: 416.232px;
    height: 427.121px;

    top: 5233px;
    left: 4%;

    transform: rotate(32.828deg);
    background-color: #7d2253;
    filter: blur(125px);
}

.feedback-decor-oval-green {
    position: absolute;

    width: 244.77px;
    height: 285.945px;

    top: 5400px;
    left: 24%;

    transform: rotate(32.828deg);
    background-color: #43ffd2;
    filter: blur(125px);
}

.social-section {
    height: 600px;

    justify-items: end;
    grid-template-rows: repeat(3, 220px);
    grid-template-areas:
        '. . . . . . . . soc-sign soc-sign . .'
        '. . soc-image soc-image soc-image soc-image soc-image soc-image social social . .'
        '. . . . . . . . . . . .';
}

.social-images {
    grid-area: soc-image;
    justify-self: flex-start;
    display: flex;
    gap: 30px;
}

.social-sign {
    grid-area: soc-sign;
    position: relative;

    width: 250px;
    height: 163px;
    top: 136px;
}

.social-sign::before {
    display: block;
    position: relative;
    content: '';

    width: 350px;
    height: 1px;

    top: 85px;

    background-color: var(--customGreen);
}

.social__panel {
    grid-area: social;
    position: static;
    align-self: flex-end;
    flex-direction: row;
    gap: 30px;

    width: 180px;
    height: 40px;
}

.social__panel svg,
.social__panel button {
    width: 40px;
    height: 40px;
}

.social__sign {
    top: 6100px;
    left: 1%;
}

.social__decor-oval-green-left {
    position: absolute;

    width: 99.587px;
    height: 211.054px;

    left: 1%;
    top: 6285px;

    transform: rotate(21.097deg);

    background-color: var(--customGreen);
    filter: blur(125px);
    z-index: -4;
}

.social__decor-oval-green-center {
    position: absolute;

    width: 879.44px;
    height: 211.054px;

    left: 41%;
    top: 6391px;

    transform: rotate(21.097deg);

    border-radius: 879.44px;
    background-color: var(--customGreen);
    filter: blur(125px);
    z-index: -4;
}

.social__decor-oval-red {
    position: absolute;

    width: 354.93px;
    height: 364.216px;

    right: -1%;
    top: 6288px;

    transform: rotate(32.828deg);

    background-color: #7d2253;
    filter: blur(125px);
    z-index: -4;
}
