.section {
    position: relative;

    display: grid;
    justify-items: end;
    grid-template-columns: repeat(7, 1fr);

    padding-left: 11vw;
    padding-right: 11vw;
}

/* Main title section */

.title-section {
    height: 1244px;
    padding-top: 75px;

    grid-template-areas: 'title-head title-head title-head title-head title-head title-head title-head';
}

.title__header-section {
    grid-area: title-head;
    justify-self: center;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__header {
    position: relative;
    top: 35px;

    font-family: Cormorant;
    text-align: center;
    font-size: 200px;
    font-weight: 300;
    letter-spacing: 40px;
    text-transform: uppercase;

    color: var(--customWhite);
}

h1.title__header {
    top: -54px;
}

h2.title__header {
    z-index: -3;
}

.slogan {
    position: relative;
    top: -52px;

    text-align: center;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 0.4px;

    color: var(--customWhite);
}

.title__catalogue-btn {
    position: absolute;

    top: 588px;
}

.title__decor-flower {
    position: absolute;

    width: 100vw;
    height: 1244px;

    top: 0px;
    left: 0px;

    background-image: url('../images/titleImage.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.title__decor-flower-back {
    position: absolute;

    width: 100vw;
    height: 1244px;

    top: 0px;
    left: 0px;

    background-color: #061618;

    z-index: -5;
}

.title__decor-flower-shadow {
    position: absolute;

    height: 406px;
    width: 100%;

    top: 838px;

    background-image: linear-gradient(
        180deg,
        rgba(4, 10, 10, 0) 0%,
        #040a0a 100%
    );

    z-index: -1;
}

.title__decor-ellipse-left {
    position: absolute;

    width: 358.902px;
    height: 293.047px;

    left: 14vw;
    top: 468.24px;

    transform: rotate(41.599deg);
    border-radius: 358.902px;
    background-color: #249479;
    filter: blur(125px);

    z-index: -4;
}

.title__decor-ellipse-right {
    position: absolute;

    width: 472.65px;
    height: 211.054px;

    right: 12vw;
    top: 340.18px;

    transform: rotate(-43.21deg);
    border-radius: 472.65px;
    background-color: var(--customPurple);
    filter: blur(125px);

    z-index: -4;
}

.lower-logo {
    position: absolute;

    width: 305px;
    right: 14%;
    top: 1036px;

    transform: rotate(-10.255deg);

    z-index: -1;
}

/* Shop catalogue section */

.catalogue-section {
    grid-template-areas:
        'cat-head cat-head cat-head cat-head . . .'
        'cat-descr cat-descr cat-descr . cat-bouq cat-bouq cat-bouq'
        'cat-flw cat-flw cat-flw cat-extra cat-extra cat-extra cat-extra';

    margin-top: 100px;
}

.catalogue__header {
    grid-area: cat-head;
    justify-self: left;
}

.catalogue__description {
    grid-area: cat-descr;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    height: 134px;

    text-align: justify;
}

.catalogue__description p {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.8px;

    color: var(--customWhite);
}

.catalogue__flowers-bouquet {
    grid-area: cat-flw;
    justify-self: left;

    position: relative;

    width: 500px;
    height: 280px;

    top: -60px;

    padding: 30px 30px 30px 50px;
}

.catalogue__ready-bouquet {
    grid-area: cat-bouq;

    position: relative;

    width: 500px;
    height: 280px;

    padding: 30px 30px 30px 50px;
}

.catalogue__extra-bouquet {
    grid-area: cat-extra;
    justify-self: left;

    position: relative;

    width: 500px;
    height: 280px;

    top: 30px;

    padding: 30px 30px 30px 50px;
}

.catalogue__list {
    position: relative;

    left: 7px;

    font-family: 'Oswald';
    font-size: 18px;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.catalogue__link {
    position: absolute;

    right: 30px;
    bottom: 30px;

    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: var(--customPink);
}

.catalogue__decor-ellipse-left {
    position: absolute;

    width: 847px;
    height: 280px;

    left: -5vw;
    top: 407px;

    transform: rotate(32.828deg);

    border-radius: 707.545px;
    background-color: var(--customPurple);
    filter: blur(150px);

    z-index: -4;
}

.catalogue__decor-ellipse-right {
    position: absolute;

    width: 955px;
    height: 393px;

    right: -1vw;
    top: 595px;

    transform: rotate(32.828deg);

    border-radius: 879.44px;
    background-color: var(--customGreen);
    filter: blur(225px);

    z-index: -4;
}

.decor-sign {
    position: absolute;

    font-family: 'Oswald';
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;

    color: #0a1717;

    z-index: -5;
}

.catalogue__bouquet-sign {
    top: 24px;
    right: 5vw;
}

.catalogue__flowers-sign {
    top: 245px;
    left: -0.1vw;
}

.catalogue__extra-sign {
    top: 522px;
    right: -16.6vw;
}

/* Popular items section */

.popular-section {
    grid-template-areas:
        'pop-head pop-head pop-head pop-head pop-head . .'
        '. pop-bouq pop-bouq pop-bouq pop-bouq pop-bouq .'
        '. pop-btn pop-btn . . . .';

    margin-top: 200px;
}

.popular__header {
    grid-area: pop-head;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding-bottom: 86px;
}

.popular__header h2:first-of-type {
    align-self: flex-start;
}

.popular__header h2:nth-of-type(2) {
    width: fit-content;
    right: -60px;
    top: -21px;
}

.popular__description {
    position: relative;
    display: block;

    top: -10px;
    text-align: center;

    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;

    color: var(--customWhite);
}

.popular__bouquets {
    grid-area: pop-bouq;

    display: flex;
    justify-content: space-between;

    width: 100%;
}

.popular__catalogue-link {
    grid-area: pop-btn;
    justify-self: left;

    height: fit-content;

    margin-top: 60px;

    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: var(--customPink);
}

.popular__catalogue-link:after {
    position: relative;
    content: url('../svg/catalogueArrow.svg');

    top: -3px;
    left: 3px;
}

.popular__card img {
    width: 350px;
    height: 450px;

    filter: grayscale();
}

.popular__card img:hover {
    filter: none;
}

.popular__decor-ellipse-left {
    position: absolute;

    width: 900px;
    height: 500px;
    left: -5vw;
    top: 439px;

    transform: rotate(32.828deg);

    background-color: rgba(67, 255, 210, 0.47);
    filter: blur(148px);

    z-index: -4;
}

.popular__decor-ellipse-right {
    position: absolute;

    width: 685px;
    height: 476px;
    left: 45vw;
    top: 506px;

    transform: rotate(32.828deg);

    background-color: var(--customPurple);
    filter: blur(148px);

    z-index: -4;
}

/* How to make an order section */

.order-section {
    grid-template-areas:
        'or-head or-head or-head or-head or-head or-head .'
        '. or-steps or-steps or-steps or-steps or-steps or-steps';

    margin-top: 160px;
}

.order__header {
    grid-area: or-head;
    justify-self: flex-start;

    width: 695px;
}

.order__header h2:nth-of-type(2) {
    top: -15px;

    z-index: -3;
}

.order__steps {
    grid-area: or-steps;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

    width: 875px;
    height: 500px;

    padding-left: 36px;
}

.order__steps::after {
    display: block;
    content: '';

    width: 1px;
    height: 427px;
    top: 40px;

    margin-top: 40px;

    background-color: var(--customPink);
}

.order__lower-logo {
    position: absolute;

    width: 305px;
    right: 16vw;
    top: 645px;

    transform: rotate(-10.255deg);

    z-index: -1;
}

.order__back-flower {
    position: absolute;

    width: 562px;
    height: 845px;

    top: 17px;
    left: -8vw;

    background-image: url('../images/homeOrderBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

/* Special event section */

.special-section {
    row-gap: 30px;
    grid-template-areas:
        'sp-head sp-head sp-head sp-head sp-head sp-img-gift sp-img-gift'
        'sp-descr sp-descr sp-imgs sp-imgs sp-imgs sp-imgs sp-imgs'
        'sp-btn sp-btn . . . . .';

    margin-top: 200px;
}

.special__header {
    grid-area: sp-head;
    justify-self: left;
}

.special__header h2:nth-child(2) {
    position: relative;

    top: -10px;
    left: 376px;
}

.special__header h2:nth-child(2)::before {
    display: block;
    position: relative;
    content: '';

    width: 255px;
    height: 1px;

    left: -281px;
    top: 63px;

    background-color: var(--customPink);
}

.special__description {
    position: relative;
    grid-area: sp-descr;
    justify-self: left;

    width: 255px;

    font-family: 'Oswald';
    text-align: justify;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.special__description::after {
    display: block;
    position: absolute;
    content: url('../svg/specialArrow.svg');

    left: -35px;
}

.special__description ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 168px;
    margin-top: 40px;

    text-align: left;
}

.special__btn {
    grid-area: sp-btn;
    justify-self: left;

    margin-top: 10px;
}

.special__img-gift {
    grid-area: sp-img-gift;

    width: 255px;
    height: 223px;

    border-radius: 20px;
}

.special__images {
    grid-area: sp-imgs;
    display: flex;
    gap: 30px;
}

.special__images img {
    width: 255px;
    height: 292px;

    border-radius: 20px;
}

.special__images:nth-child(2) {
    width: 160px;
    height: 292px;
}

.special__decor-ellipse-purple {
    position: absolute;

    width: 500px;
    height: 500px;

    right: -11vw;
    top: 50px;

    transform: rotate(32.828deg);

    background-color: var(--customPurple);
    filter: blur(130px);

    z-index: -4;
}

/* Feedback form section */

.feedback-section {
    position: relative;

    margin-top: 150px;
    background-color: #0f2222;
}

.feedback__decor-ellipse-purple {
    position: absolute;

    width: 350px;
    height: 350px;

    top: 191px;
    left: -1vw;

    transform: rotate(32.828deg);
    background-color: var(--customPurple);
    filter: blur(125px);
}

.feedback__decor-ellipse-green {
    position: absolute;

    width: 200px;
    height: 200px;

    top: 221px;
    left: 26vw;

    transform: rotate(32.828deg);
    background-color: var(--customGreen);
    filter: blur(110px);
}

/* Social networks section */

.social-section {
    grid-template-areas:
        '. . . . . soc-sign soc-sign'
        'soc-image soc-image soc-image soc-image soc-image soc-image soc-panel';

    margin-top: 100px;
    margin-bottom: 200px;
}

.social__images {
    grid-area: soc-image;
    justify-self: flex-start;
    display: flex;
    gap: 30px;

    position: relative;
}

.social__images img {
    width: 240px;
    height: 240px;
}

.social__sign {
    grid-area: soc-sign;
    position: relative;

    width: 250px;
    height: 163px;

    right: 98px;
    top: 79px;
}

.social__sign::before {
    display: block;
    position: relative;
    content: '';

    width: 350px;
    height: 1px;

    top: 85px;

    background-color: var(--customGreen);
}

.social__panel {
    grid-area: soc-panel;
    display: flex;
    position: relative;
    align-self: flex-end;
    flex-direction: row;
    gap: 30px;

    width: 180px;
    height: 40px;

    background-color: transparent;
}

.social__panel img {
    width: 40px;
    height: 40px;
}

.social__instagram-sign {
    bottom: -119px;
    left: -0.5%;
}

.social__decor-ellipse-green-left {
    position: absolute;

    width: 99.587px;
    height: 211.054px;

    left: 1%;
    bottom: -300px;

    transform: rotate(21.097deg);

    background-color: var(--customGreen);
    filter: blur(125px);
    z-index: -4;
}

.social__decor-ellipse-green-center {
    position: absolute;

    width: 679.44px;
    height: 211.054px;

    left: 36%;
    bottom: -339px;

    transform: rotate(21.097deg);

    border-radius: 879.44px;
    background-color: var(--customGreen);
    filter: blur(158px);
    z-index: -4;
}

.social__decor-ellipse-purple {
    position: absolute;

    width: 454.93px;
    height: 464.216px;
    right: -6vw;

    bottom: -396px;

    transform: rotate(32.828deg);

    background-color: var(--customPurple);
    filter: blur(140px);
    z-index: -4;
}
