.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: calc(100vh - 337px);

    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding: 30px;

    width: 545px;
}

.input {
    height: 60px;
    width: 100%;
    padding: 19px 20px 20px 20px;

    border: 1px solid var(--customGreen);

    color: var(--customWhite);
    background: #0f2222;
}

.input::placeholder {
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: #395959;
}

.input:autofill {
    background-clip: text;
    -webkit-text-fill-color: var(--customWhite);
}

.toggle-pass {
    position: absolute;

    top: 316px;
    right: 44px;
}

.toggle-pass:hover {
    transform: scale(1.1);

    transition: transform 0.25s linear;
}

.submit-btn {
    width: 100%;
}

.decor-flower-top {
    position: absolute;

    width: 1086.759px;
    height: 779.151px;

    top: -66px;
    left: -14vw;

    transform: rotate(150deg);
    background-image: url('../images/corp_flower.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.decor-ellipse-top {
    position: absolute;

    width: 465.711px;
    height: 220.329px;

    top: 130px;
    right: -7vw;

    border-radius: 465.711px;
    transform: rotate(-71.859deg);

    background-color: #ea661c;
    filter: blur(125px);

    z-index: -3;
}

.decor-ellipse-middle {
    position: absolute;

    width: 150.177px;
    height: 867.785px;

    bottom: -90px;
    left: 48vw;

    border-radius: 667.785px;
    transform: rotate(111.267deg);

    background-color: #ea661c;
    filter: blur(125px);

    z-index: -3;
}
