.main {
    position: relative;
    display: grid;

    grid-template-columns: repeat(7, 1fr);

    grid-template-areas:
        '. . . tabs . . .'
        '. . goods goods goods . .';

    width: 100vw;
    min-height: calc(100vh - 337px);
}

.tabs {
    grid-area: tabs;
}
