.panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 260px;
    top: 30px;
    right: 4%;
}

.address {
    display: inline-block;

    margin-bottom: 4px;

    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.description {
    margin-bottom: 26px;

    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.mail-section {
    width: 253px;
}
