.tabs {
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 50px;

    width: 350px;
    height: 50px;

    top: 150px;
}

.tabs a {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;

    color: var(--customWhite);
}
