.tabs {
    grid-area: tabs;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;

    width: 350px;
    height: 50px;

    top: 100px;

    z-index: 3;
}

.tabs a {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.exit-btn {
    position: absolute;

    right: -539px;
}
