.card {
    display: flex;
    flex-direction: column;

    width: 255px;
    height: auto;
}

.popular__card {
    width: 350px;
}

.image {
    object-fit: cover;

    width: 255px;
    height: 335px;
}

.title {
    margin-top: 10px;

    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.price {
    margin-top: 10px;

    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.button {
    width: 100%;
    margin-top: 30px;
}
