.position {
    display: grid;
    align-items: end;
    justify-items: start;
    grid-template-columns: 80px 1fr 1fr;
    grid-template-areas:
        'image title price'
        'image btns del';

    width: 100%;
    height: 120px;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #555;
}

.image {
    grid-area: image;

    width: 60px;
    height: 80px;

    object-fit: cover;
}

.title {
    grid-area: title;
    align-self: flex-start;

    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.price {
    grid-area: price;
    align-self: flex-start;
    justify-self: end;

    font-family: Oswald;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.quantity-btns {
    grid-area: btns;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100px;
    height: 30px;

    color: #555;
    border: 0.5px solid #555;
}

.quantity-btns button {
    align-self: flex-end;
}

.quantity-btns p {
}

.delete-btn {
    grid-area: del;
    justify-self: end;

    font-family: Oswald;
    font-size: 10px;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: var(--customWhite);
}
