.footer {
    position: relative;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 'cred cred cat bok links adr adr';

    width: 100%;
    height: 337px;

    bottom: 0px;

    padding-top: 30px;
    padding-left: 11vw;
    padding-right: 11vw;

    background-color: var(--customBlack);
}

.header {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.column {
    display: flex;
    flex-direction: column;
}

.descr {
    width: 231px;

    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.credentials {
    grid-area: cred;
    gap: 10px;
}

.logo {
    height: 75px;
}

.logo p:first-of-type {
    top: 0px;
}

.logo p:last-of-type {
    top: -59px;
}

.catalogue {
    grid-area: cat;
}

.bouquet {
    grid-area: bok;
}

.links {
    grid-area: links;
    gap: 20px;
}

.address {
    grid-area: adr;
    justify-self: end;

    width: 253px;
}

.social {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;

    margin-top: 30px;

    width: 112px;
}

.info_pop-up {
    position: absolute;

    width: 100px;
    height: 30px;

    right: -10px;
    top: 0px;

    background-color: var(--customGreen);
}
