.header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 80px;

    grid-template-areas: 'nav nav nav nav nav info info';

    width: 100%;

    padding-left: 11vw;
    padding-right: 11vw;

    z-index: 5;
}

.dark {
    background-color: var(--customBlack);
}

.nav {
    grid-area: nav;
    margin-right: 100px;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

.link {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.icon {
    position: relative;

    top: 3px;
    left: -4px;
}

.info-panel {
    grid-area: info;

    margin-top: 29.7px;
}

.shrink {
    margin-top: 0px;
}
