.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    grid-template-areas: '. . . nav nav nav nav nav nav . . .';

    height: 80px;
}

.nav {
    grid-area: nav;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

.link {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.icon {
    position: relative;

    top: 3px;
    left: -4px;
}
