.header {
    padding: 20px 8%;
}

.nav {
    width: 80%;
    height: 80px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    height: 80px;
}

.link {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.icon {
    position: relative;

    top: 3px;
    left: -4px;
}
