.panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.panel button,
.panel button {
    width: 24px;
    height: 24px;
}
