.item {
    position: relative;

    margin-bottom: 5px;

    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--customWhite);
}

.checkbox {
    cursor: pointer;
    user-select: none;
}

.input {
    position: absolute;

    width: 0;
    height: 0;

    opacity: 0;
}

.checkmark {
    position: absolute;

    height: 12px;
    width: 12px;

    left: -17px;
    top: 4px;

    border: 0.5px solid var(--customWhite);
    border-radius: 2px;

    background-color: transparent;
}

.input:checked ~ .checkmark {
    background-color: var(--customWhite);
}
