.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 252px;
    height: 700px;

    padding: 20px 16px 30px 16px;
}

.filter ul {
    list-style-type: none;
    margin-left: 18px;
}

.ul-header {
    margin-bottom: 8px;

    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    color: var(--customGreen);
}

.slider {
    position: relative;
    width: 100%;
}

.slider .ul-header {
    margin-bottom: 0px;
}

.header {
    font-size: 16px;
    text-align: center;

    color: var(--customWhite);
}
