.backdrop {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0 0 0 / 0.2);
    backdrop-filter: blur(10px);

    z-index: 3;
}
