.btn {
    width: 220px;
    height: 50px;

    font-family: 'Oswald';
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: var(--customBlack);
    background: var(--customGreen);

    border: 0.5px solid var(--customGreen);
}

.btn:hover {
    color: var(--customWhite);
    background: var(--customPurple);

    border: 0.5px solid var(--customPurple);
}

.btn:focus {
    color: var(--customBlack);
    background: var(--customGreen);

    border: 0.5px solid var(--customPurple);
}

.btn:active {
    color: var(--customWhite);
    background: var(--customPurple);

    border: 0.5px solid var(--customPurple);
    box-shadow: 0px 0px 10px 0px #1b000e inset;
}

.btn:visited {
    color: var(--customBlack);
}

.blank {
    color: var(--customWhite);
    background: transparent;

    border: 0.5px solid var(--customWhite);
}

.blank:hover {
    color: var(--customBlack);
    background: var(--customGreen);

    border: 0.5px solid var(--customGreen);
}

.blank:focus {
    color: var(--customWhite);
    background: transparent;

    border: 0.5px solid var(--customGreen);
}

.blank:active {
    color: var(--customBlack);
    background: var(--customGreen);

    border: 0.5px solid var(--customGreen);
    box-shadow: 0px 0px 10px 0px #01281f inset;
}

.blank:visited {
    color: var(--customWhite);
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled:active {
    color: var(--customGrey);
    border: 0.5px solid var(--customGrey);
    background-color: transparent;

    cursor: default;
}
